<?xml version="1.0" encoding="utf-8"?>
<module name="Geta.Optimizely.Categories" productName="Geta Optimizely Categories" clientResourceRelativePath="" loadFromBin="false">
    <assemblies>
        <add assembly="Geta.Optimizely.Categories" />
        <add assembly="Geta.Optimizely.Categories.Core" />
    </assemblies>
    <dojo>
        <paths>
            <add name="geta-optimizely-categories" path="ClientResources/Scripts" />
        </paths>
    </dojo>

  <clientModule>
    <moduleDependencies>
      <add dependency="Shell"/>
      <add dependency="Cms" type="RunAfter"/>
    </moduleDependencies>
  </clientModule>
</module>